<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ODFPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ODFPlugin.Properties.Settings>
            <setting name="CloseViewFilesAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepBackupOfODF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteMorphsAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZeroCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeshExportFormat" serializeAs="String">
                <value>FBX 2014.1</value>
            </setting>
        </ODFPlugin.Properties.Settings>
    </applicationSettings>
</configuration>