<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AiDroidPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AiDroidPlugin.Properties.Settings>
            <setting name="KeepBackupOfFPK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressFPK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepBackupOfREM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepBackupOfREA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupExtensionREM" serializeAs="String">
                <value>.RE-M</value>
            </setting>
        </AiDroidPlugin.Properties.Settings>
    </applicationSettings>
</configuration>